:root {
  --primary-red: #941c2f;
  --secondary-red: #761626;
  --tertiary-red: #a94959;
  --primary-blue: #1b9aaa;
  --secondary-blue: #167b88;
  --tertiary-blue: #49aebb;
  --primary-black: #303633;
  --secondary-black: #262b29;
  --tertiary-black: #595e5c;
  --primary-yellow: #ffba08;
  --secondary-yellow: #cc9506;
  --tertiary-yellow: #ffc839;
}

* {
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" -25, "opsz" 24;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--primary-black);
}

.play-game {
  padding: 0;
  background-color: var(--tertiary-black);
  border: 2px solid var(--primary-yellow);
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 8px var(--secondary-yellow);
}

.play-game::backdrop {
  background: rgba(38, 43, 41, 0.75);
}

.dialog-container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 24px;
  padding: 0 1em 1em 1em;
}

.dialog-container > h1 {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 2.3rem;
  text-shadow: 0px 0px 8px var(--secondary-black);
  border-bottom: dashed 4px var(--primary-yellow);
  display: grid;
  place-items: center;
}

.dialog-container > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dialog-container > form > div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dialog-container > form > div > label {
  display: grid;
  place-self: center;
}

.dialog-container > form > div > label > .material-symbols-outlined {
  font-size: 64px;
}

.dialog-container > form > div > input {
  height: 100%;
  border: 0;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  width: 262px;
}

.dialog-container > form > div > input:focus-visible {
  outline: 2px solid var(--tertiary-yellow);
}

.player-1 {
  color: var(--primary-blue);
}

.player-2 {
  color: var(--primary-red);
}

.play {
  border: 0;
  border-radius: 2px;
  background-color: var(--primary-yellow);
  color: #fff;
  font-size: 2.3rem;
  box-shadow: 0px 4px 0px var(--secondary-yellow);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.play:hover {
  box-shadow: 0px 3px 0px var(--secondary-yellow);
  transform: translateY(1px);
}

.play:active {
  box-shadow: 0px 0px 0px var(--secondary-yellow);
  transform: translateY(4px);
}

.new-cell {
  padding: 0;
  background-color: var(--tertiary-black);
  border: 2px solid var(--primary-yellow);
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 8px var(--secondary-yellow);
  transition: opacity 1.5s ease-out 0.5s;
}

.new-cell::backdrop {
  opacity: 0;
}

.new-cell > h1 {
  margin: 12px;
}

.play-again {
  padding: 0;
  background-color: var(--tertiary-black);
  border: 2px solid var(--primary-yellow);
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 8px var(--secondary-yellow);
}

.dialog-container-2 {
  display: grid;
  gap: 24px;
  margin: 24px;
}

.winner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.winner-container > h2,
.winner-container > h1 {
  margin: 0;
}

.winner-container > h2 {
  font-size: 2.5rem;
}

.winner-container > h1 {
  font-size: 3rem;
}

.game-container {
  height: 650px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

.score-counter {
  height: 80px;
  width: 200px;
  background-color: var(--tertiary-black);
  border: 2px solid var(--primary-yellow);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 8px var(--secondary-yellow);
  font-size: 36px;
}

.score-counter:nth-child(1) {
  color: var(--primary-yellow);
}

.player-1-score {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--primary-blue);
}

.player-2-score {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--primary-red);
}

.game {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell.y-2.x-0,
.cell.y-1.x-0,
.cell.y-0.x-0 {
  border-right: 2px solid var(--primary-yellow);
}

.cell.y-2.x-1,
.cell.y-1.x-1,
.cell.y-0.x-1 {
  border-left: 2px solid var(--primary-yellow);
}

.cell.y-2.x-1,
.cell.y-1.x-1,
.cell.y-0.x-1 {
  border-right: 2px solid var(--primary-yellow);
}

.cell.y-2.x-2,
.cell.y-1.x-2,
.cell.y-0.x-2 {
  border-left: 2px solid var(--primary-yellow);
}

.cell.y-2.x-0,
.cell.y-2.x-1,
.cell.y-2.x-2 {
  border-top: 2px solid var(--primary-yellow);
}

.cell.y-1.x-0,
.cell.y-1.x-1,
.cell.y-1.x-2 {
  border-bottom: 2px solid var(--primary-yellow);
}

.cell.y-1.x-0,
.cell.y-1.x-1,
.cell.y-1.x-2 {
  border-top: 2px solid var(--primary-yellow);
}

.cell.y-0.x-0,
.cell.y-0.x-1,
.cell.y-0.x-2 {
  border-bottom: 2px solid var(--primary-yellow);
}

.cell {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.close,
.circle {
  font-size: 136px;
}

.cell .close {
  color: var(--primary-blue);
}

.cell .circle {
  color: var(--primary-red);
}

.new-game {
  border: 0;
  height: 60px;
  width: 150px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-color: var(--primary-yellow);
  border-radius: 2px;
  box-shadow: 0px 4px 0px var(--secondary-yellow);
  transition: all 0.1s ease-in-out;
}

.new-game:hover {
  box-shadow: 0px 3px 0px var(--secondary-yellow);
  transform: translateY(1px);
}

.new-game:active {
  box-shadow: 0px 0px 0px var(--secondary-yellow);
  transform: translateY(4px);
}
